In [1]:
import pandas as pd

def load_data():
    csv_path = "train.csv"
    return pd.read_csv(csv_path)

database = load_data()
database.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [2]:
database.columns

Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
       'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
       'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
       'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
       'P36', 'P37', 'revenue'],
      dtype='object')

In [3]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

num_attribs = database.columns[5:-1]
cat_attribs = ["City", "City Group", "Type"]

num_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),  # Imputación de valores faltantes usando la mediana
    ('scaler', StandardScaler())  # Escalado de características para normalizar los datos
    ])

cat_pipeline = Pipeline([
    ("encoder", OneHotEncoder())
    ])

full_pipeline = ColumnTransformer([
    ("categorical", cat_pipeline, cat_attribs),
    ("numerical", num_pipeline, num_attribs)
    ])

data_prepared = full_pipeline.fit_transform(database)
data_labels = database["revenue"].copy()

In [4]:
print("Número de columnas en data_prepared:", data_prepared.shape[1])
print("Nombres de las columnas en data_prepared:")

Número de columnas en data_prepared: 76
Nombres de las columnas en data_prepared:

In [5]:
data_prepared

array([[ 0.        ,  0.        ,  0.        , ...,  0.57563408,
         0.18982104,  1.61595083],
       [ 0.        ,  0.        ,  0.        , ..., -0.59268991,
        -0.53255348, -0.62592526],
       [ 0.        ,  0.        ,  0.        , ..., -0.59268991,
        -0.53255348, -0.62592526],
       ...,
       [ 0.        ,  0.        ,  0.        , ..., -0.59268991,
        -0.53255348, -0.62592526],
       [ 0.        ,  0.        ,  0.        , ..., -0.59268991,
        -0.53255348, -0.62592526],
       [ 0.        ,  0.        ,  0.        , ..., -0.59268991,
        -0.53255348, -0.62592526]])

In [6]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression()
lin_reg.fit(data_prepared, data_labels)

LinearRegression()

In [7]:
from sklearn.metrics import r2_score
predictions = lin_reg.predict(data_prepared)
r2_lin = r2_score(data_labels, predictions)
print(f"Coeficiente de determinación de regresión lineal (R²): {r2_lin}")

Coeficiente de determinación de regresión lineal (R²): 0.5070116084816508

In [8]:
from sklearn import tree
d_tree = tree.DecisionTreeRegressor(max_depth=5)
d_tree = d_tree.fit(data_prepared, data_labels)

In [9]:
predictions_dt = d_tree.predict(data_prepared)
r2_dt = r2_score(data_labels, predictions_dt)
print(f"Coeficiente de determinación decision tree (R²): {r2_dt}")

Coeficiente de determinación decision tree (R²): 0.6523763126282155

In [10]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.1, solver='cholesky')
ridge_reg = ridge_reg.fit(data_prepared, data_labels)
predictions_ridge = ridge_reg.predict(data_prepared)
r2_ridge = r2_score(data_labels, predictions_ridge)
print(f"Coeficiente de determinación de regresión ridge (R²): {r2_ridge}")

Coeficiente de determinación de regresión ridge (R²): 0.49844388319652966

In [11]:
type(data_prepared)

numpy.ndarray

In [12]:
import numpy as np
from sklearn.base import BaseEstimator
from typing import Type, Callable

def weighted_model_creator(models: list[Type[BaseEstimator]], models_proportions: np.array) -> Callable[[np.ndarray], np.ndarray]:
    '''
    Retorna una función que pondera distintos modelos de scikit para predecir un valor.

    Parámetros
    ----------
    models : list[type[BaseEstimator]]
        Lista de modelos de scikit-learn ya entrenados con los datos.

    models_proportions : np.array()
        Lista de ponderación de los distintos modelos (en orden respectivo) para la predicción.

    Returns
    -------
    weighted_model_predictor : function
        Función que recibe data y retorna una predicción ponderando los modelos.
    '''

    def weighted_model_predictor(data: np.ndarray) -> np.ndarray:
        number_of_rows = data.shape[0]
        acumulated_sum = np.zeros(number_of_rows)
        for model, proportion in zip(models, models_proportions):
            acumulated_sum += model.predict(data) * proportion
        ponderation = acumulated_sum / np.sum(models_proportions)
        return ponderation

    return weighted_model_predictor

In [13]:
list_of_models = [lin_reg, ridge_reg, d_tree]
list_of_different_ponderations = [[1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 1, 4], [1, 1, 5],
                                  [1, 1, 6], [1, 1, 7], [1, 1, 8], [1, 1, 11], [2, 1, 10],
                                  [3, 1, 10], [2, 2, 10]]

results = []

for i, ponderations in enumerate(list_of_different_ponderations):
    weighted_model = weighted_model_creator(list_of_models, ponderations)
    prediction = weighted_model(data_prepared)
    r2 = r2_score(data_labels, prediction)
    results.append({'Setting': i, 'W1': ponderations[0], 'W2': ponderations[1], 'W3': ponderations[2], 'R2 score (%)': r2*100})

# Crear DataFrame
df = pd.DataFrame(results)
df_transposed = df.set_index('Setting').T
df_transposed

Setting,0,1,2,3,4,5,6,7,8,9,10,11
W1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000,2.000000
W2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
W3,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,11.000000,10.000000,10.000000,10.000000
R2 score (%),64.489689,68.038577,69.092101,69.346196,69.308141,69.159531,68.972794,68.778579,68.247895,69.133043,69.474306,69.308141

In [48]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=20,max_depth=5,max_features=0.75)
random_f  = reg.fit(data_prepared, data_labels)

In [49]:
predictions_rf = random_f.predict(data_prepared)
r2_rf = r2_score(data_labels, predictions_rf)
print(f"Coeficiente de determinación de random forest (R²): {r2_rf}")

Coeficiente de determinación de random forest (R²): 0.6984864801141516